{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Login Cancelled" %}{% endblock %}

{% block content %}
    div class="col-md-12">
            <div style="background-color: rgb(250,244,209); border-radius: 3px; box-shadow: 1,1,1,1;text-align: left;margin-topleft: 50px; padding-bottom: 50px;  "class="home-ground ">
                <div style=" background-color: rgb(250,244,209); justify-content: center; display: flex;" class="pt-3 col-md-12">
                    <!--<h2 class="col-md-4">Cadastro</h2>-->
                    <div class="col-md-12">

                    <h1>{% trans "Login Cancelled" %}</h1>

                    {% url 'account_login' as login_url %}

                    <p>{% blocktrans %}You have decided to unsubscribe from our site using your facebook account. If this was an error, click to <a href="{{login_url}}">sigin</a>.{% endblocktrans %}</p>

{% endblock %}