{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}


{% block content %}
<h1 style="color:rgb(250,244,209)">{% trans "Confirm E-mail Address" %}</h1>

{% if confirmation %}

{% user_display confirmation.email_address.user as user_display %}

<p style="color:rgb(250,244,209)">{% blocktrans with confirmation.email_address.email as email %}Por favor, confirme que este  <a href="mailto:{{ email }}">{{ email }}</a> é o e-mail do usuário {{ user_display }}.{% endblocktrans %}</p>

<form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
{% csrf_token %}
    <button class="col-md-2 btn btn-success mr-5" type="submit">{% trans 'Confirm' %}</button>
</form>

{% else %}

{% url 'account_email' as email_url %}

<p>{% blocktrans %}Este e-mail de confirmação ou link expirou. Por favor <a href="{{ email_url }}">Solicite um novo pedido de confirmação </a>.{% endblocktrans %}</p>

{% endif %}

{% endblock %}