{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Register{% endblock %}

{% block content %} 
    <div class="col-md-12">
        <div style="background-color: rgb(250,244,209); border-radius: 3px; box-shadow: 1,1,1,1;text-align: center;margin-top: 50px; padding-bottom: 50px;  "class="home-ground ">
            <div style=" background-color: rgb(250,244,209); justify-content: center; display: flex;" class="pt-3 col-md-12">
                <!--<h2 class="col-md-4">Cadastro</h2>-->
                <div class="col-md-12">
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="col-md-12">
                            <button class="btn btn-success ml-5 col-md-10" type="submit">Create</button>
                        </div>
                    </form>
                </div>
            </div>
            </div>
    </div>
{% endblock %}