{% extends 'base.html' %}


{% block content %}

	{% load crispy_forms_tags %}          

	<!--Reset Password-->
	<div class="container p-5">
  	 	<h2  style="color:rgb(250,244,209)" class="font-weight-bold mt-3">Redefinição de Senha</h2>
		<hr>
		<p style="color:rgb(250,244,209)">Esqueceu sua senha? Coloque seu e-mail abaixo, e nós mandaremos um e-mail com instruções para mudar sua senha.</p>
        <form  style="color:rgb(250,244,209)" method="POST">
            {% csrf_token %}
            {{ password_reset_form|crispy }}                    
            <button class="btn btn-primary" type="submit">Enviar E-mail</button>
        </form>
  	</div> 

{% endblock %}