{% extends 'base.html' %}                   <!-- Traz todo o conteudo de "base.html" pra ca -->

{% block title %}Loja Python{% endblock %}  <!-- Muda o titulo da pagina -->

{% block content %}

<style>
    .backgrounder {
        background-color: rgb(196, 56, 56);
        color: rgb(216, 83, 83);
    }

    .tituler{
        padding: 20px 0px;
    background-color: #d6445b;
    }

.label-description{

    /*-webkit-text-stroke: 0.7px #red!important;*/
    color: black;
    font-family: "Papyrus",fantasy;
    font-size: x-large;
    font-weight: bold;
    
}

</style>
    <form action="" method="POST">
        {% csrf_token %}
        <div class="col-md-12">
            <div style="background-color: rgb(250,244,209); border-radius: 3px; box-shadow: 1,1,1,1;text-align: center;margin-top: 50px; padding-bottom: 50px;  "
                class="home-ground ">
                <div class="bg-w">
        <h1 class='label-description tituler'>Build your Character</h1>
        <p></p>
        <div id="div_radio" >
        </div>
            <h3 class='label-description'>Choose {{ choose }} {{ name }} for your character</h3>
            <input hidden='true' id='choose' value="{{ choose }}">
            {% for item in value %}
                <input type="checkbox" id="{{ item.index }}" name="{{ item.index }}" value= "{{ item.name }}" class='checkboxes' onchange="change()">
                <label class='label-description' for="{{ item.index }}">{{ item.name }}</label>
                <br>
            {%endfor%}
        </div>
        <p></p>
        <input type="submit" id="bt_next" disabled='true' value="Next">
    </div>
</div>
    </form>

    <script>
        function change(){
            var checkboxes = document.getElementsByClassName('checkboxes')
            var cont = 0
            for (key = 0; key < checkboxes.length; key++){
                if(document.getElementById(checkboxes[key].name).checked) {
                    cont += 1
                }
            }
            if (cont == document.getElementById('choose').value){
                document.getElementById('bt_next').disabled = false
            }
            else document.getElementById('bt_next').disabled = true
            
        }
    </script>
{% endblock %}