{% extends 'base.html' %}                   <!-- Traz todo o conteudo de "base.html" pra ca -->

{% block title %}Loja Python{% endblock %}  <!-- Muda o titulo da pagina -->

{% block content %}

    <form action="" method="POST">
        {% csrf_token %}

        <div class="col-md-12">
            <div style="background-color: rgb(236, 236, 236); border-radius: 3px; box-shadow: 1,1,1,1;text-align: center;margin-top: 50px; padding-bottom: 50px;  "class="home-ground ">
                <div style=" background-color: rgb(236, 236, 236); justify-content: center; display: flex;" class="pt-3 col-md-12">
        
        <h2>Build your Character</h2>
        <p></p>
        <div id="div_name">
             <input type="text" id="name" name="name">
        </div>
        <p></p>
        <input type="submit" id="bt_next">
    </div>
</div>
</div>
    </form>

    <script>

    </script>


{% endblock %}