{% extends 'base.html' %}
<!-- Traz todo o conteudo de "base.html" pra ca -->


{% block title %}Lets Roll{% endblock %}
<!-- Muda o titulo da pagina -->


{% block content %}
<div class="col-md-12">
    <div style="background-color: rgb(250,244,209); border-radius: 3px; box-shadow: 1,1,1,1;text-align: center;"
        class="home-ground ">
        
        <div class="col-md-12">
            <div style="background-color: transparent; border-radius: 3px; box-shadow: 1,1,1,1;text-align: center; ; "
            class="home-ground ">
            <div class="row row-cols-1 row-cols-md-2 g-4">
                {% for item in value %}
                    <div class="col">
                        <div class="card">
                            <div class="card w-100" style="background-color: rgb(250,244,209); font-family: Papyrus;">
                            <h5 class="card-title" style="font-size: xx-large; font-weight: bold;" size= 12>{{ item.name }}</h5>
                            <p class="card-text" style="font-size: large; font-weight: bold;">Race: {{ item.race }}</p>
                            <p class="card-text"style="font-size: large; font-weight: bold;">Class: {{ item.clas }}</p>
                            <p class="card-text"style="font-size: large; font-weight: bold;">Level: {{ item.level }}</p>
                            <a href="/sheet/{{ item.id }}" class="card-link" style="font-size: large; font-weight: bold;">Open Character Sheet</a>
                            <a href="delete/{{item.id}}"class="card-link" style="font-size: large; font-weight: bold;"> Delete Character Sheet</a>
                            </div>
                        </div>
                    </div>
                {%endfor%}
              </div>          
            </div>
        </div>

        <div style=" background-color: transparent; justify-content: center; display: flex;" class="pt-3 col-md-12">

            <div style="box-shadow: 1px 1px 5px rgb(250,244,209);border-radius: 3px; background-color: rgb(62, 185, 79);" class="col-md-4">
                <a style="text-decoration: none;margin-top: 50px; font-size: large;color: rgb(243, 243, 243);font-weight: 600"
                    href="/sheet_create/">Create a New Character Sheet</a>
            </div>
        </div>

        
    </div>
</div> 

{% endblock %}