{% extends 'base.html' %}                   <!-- Traz todo o conteudo de "base.html" pra ca -->

{% block title %}Loja Python{% endblock %}  <!-- Muda o titulo da pagina -->

{% block content %}
    <form action="" method="POST">
        {% csrf_token %}
        <h1>Build your Character</h1>
        <p></p>
        <div id="div_radio" >
            <h3>{{ label }}</h3>
            {% for item in value %}
                <input type="radio" id="{{ name }}" name="{{ name }}" value= "{{ item }}">
                <label for="{{ name }}">{{ item }}</label>
                <br>
            {%endfor%}
        </div>
        <p></p>
        <input type="submit" id="bt_next">
    </form>

{% endblock %}