{% extends 'base.html' %}                   <!-- Traz todo o conteudo de "base.html" pra ca -->

{% block title %}Loja Python{% endblock %}  <!-- Muda o titulo da pagina -->

{% block content %}
    <form action="" method="POST">
        {% csrf_token %}
        <h1 class='label-description'>Build your Character</h1>
        <p></p>
        <div id="div_radio" >
            <h3 class='label-description'>{{ label }}</h3>
            {% for item in value %}
                <input type="radio" id="{{ item }}" name="{{ name }}" value= "{{ item }}" class='radios' onchange="change()">
                <label  class='label-description' for="{{ item }}">{{ item }}</label>
                <br>
            {%endfor%}
        </div>
        <p></p>
        <input type="submit" id="bt_next" disabled='true' value="Next">
    </form>

    <script>
        function change(){
            var radios = document.getElementsByClassName('radios')
            for (key = 0; key < radios.length; key++){
                if(document.getElementById(radios[key].id).checked) document.getElementById('bt_next').disabled = false
            }
        }
    </script>
{% endblock %}