{% extends 'base.html' %}                   <!-- Traz todo o conteudo de "base.html" pra ca -->

{% block title %}Loja Python{% endblock %}  <!-- Muda o titulo da pagina -->

{% block content %}
    <style>
        .col-1 {width: 8.33%;}
        .col-2 {width: 16.66%;}
        .col-3 {width: 25%;}
        .col-4 {width: 33.33%;}
        .col-5 {width: 41.66%;}
        .col-6 {width: 50%;}
        .col-7 {width: 58.33%;}
        .col-8 {width: 66.66%;}
        .col-9 {width: 75%;}
        .col-10 {width: 83.33%;}
        .col-11 {width: 91.66%;}
        .col-12 {width: 100%;}
        [class*="col-"] {
            float: left;
            padding: 15px;
            /*border: 1px solid red;*/
        }
        .row::after {
            content: "";
            clear: both;
            display: table;
        }
        
        #ficha {
            background-image: url(https://cdn.discordapp.com/attachments/247457383486324737/839573346361278515/scroll_3.png);
            background-image: none!important;
            background-color: rgb(36, 36, 36);
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            /*border-color: rgb(82, 6, 6);
            border-style: groove;*/
            width: 100%;
            padding: 8px;
        }
        .description-value {
            -webkit-text-stroke: 0.7px #000000; /* width and color */
            color: #5ac3b0;
            background-color: transparent;
            font-family: "Papyrus",fantasy;
            font-weight: bold;
            font-size: large;
            border-color: transparent;
            border-style:dashed;
            max-width: fit-content;
        }
        .description-value:hover/*, input:focus*/{
            color: rgb(230, 0, 0);
            background-color: transparent;
            font-family: "Papyrus",fantasy;
            font-weight: bold;
            /*border-color:red;*/
            border-style:dashed;
            outline: none;
        }
        .label-description {
            -webkit-text-stroke: 0.7px rgb(0, 0, 0); /* width and color */
            color: red;
            font-family: "Papyrus",fantasy;
            font-size: x-large;
            font-weight: bold;
        }
        .backgrounder {
        background-color: rgb(196, 56, 56);
        color: rgb(216, 83, 83);
    }

    .tituler{
        padding: 20px 0px;
    background-color: #d6445b;
    }

.label-description{

    -webkit-text-stroke: 0.7px #4c51ff!important;
    color: white;
    font-family: "Papyrus",fantasy;
    font-size: x-large;
    font-weight: bold;
    
}
    </style>

    <div class="row">
        <div class='col-4' id='ficha'>
            <label class='label-description' for="character-name">Character Name: </label>
            <input class='description-value' id='character-name' value='{{ name }}' readonly=true size="{{ name|length }}"></input>
            <p></p>
        </div>
        <div class='col-4' id='ficha'>
            <label class='label-description' for="character-race">Race: </label>
            <input class='description-value' id='character-race' value='{{ race }}' readonly=true size="{{ race|length }}"></input>
        </div>
        <div class='col-4' id='ficha'>
            <label class='label-description' for="character-subrace">Subrace:</label>
            <input class='description-value' id='character-subrace' value='{{ subrace }}' readonly=true size="{{ subrace|length }}"></input>
        </div>
    </div>

    <div class="row">
        <div class='col-4' id='ficha'>
            <label class='label-description' for="character-alignment">Alignment:</label>
            <input class='description-value' id='character-alignment' value='{{ alignment }}' readonly=true size='{{ alignment|length }}'></input>
            <p></p>
            <label class='label-description' for="character-speed">Speed:</label>
            <input class='description-value' id='character-speed' value='{{ speed }}' readonly=true size='5'></input>
            <p></p>
            <label class='label-description' for="character-size">Size:</label>
            <input class='description-value' id='character-size' value='{{ size }}' readonly=true size='5'></input>
            <p></p>
            <label class='label-description' for="character-hitdie">Hit Die:</label>
            <input class='description-value' id='character-hitdie' value='D{{ hit_die }}' readonly=true size='5'></input>
            <p></p>
            <label class='label-description' for="character-hitpoints">Hit Points:</label>
            <input class='description-value' id='character-hitpoints' value='{{ hit_points }}' readonly=true size='5'></input>
            <p></p>
            <label class='label-description' for="character-armorclass">Armor Class:</label>
            <input class='description-value' id='character-armorclass' value='{{ armor_class }}' readonly=true size='5'></input>
            <p></p>
            <label class='label-description' for="character-initiative">Initiative:</label>
            <input class='description-value' id='character-initiative' value='{{ initiative }}' readonly=true size='5'></input>
            <p></p>
            
            <label class='label-description'>Features:</label>
            <p></p>
            {% for value5 in features %}
                <input class='description-value' id='character-features-value1' value='{{ value5.name }}' readonly=true size='{{ value5.name|length }}'></input>
                <p></p>
            {%endfor%}
            <p></p>
            <label class='label-description'>Equipments</label>
            <p></p>
            {% for value5 in equipment %}
                <label class='label-description' for="character-equipment-value0">-{{ value5.name }}</label>
                <input class='description-value' id='character-equipments-value0' value='(x{{ value5.quantity }})' readonly=true size='5'></input>
                <p></p>
            {%endfor%}
            <p></p>
            <!--<h2>Attributes</h2>
            <ul>
            {% for value0 in ability %}
                <li>{{ value0.ability_score.name }}: {{ value0.value }} ({{ value0.bonus }})</li>
            {%endfor%}
            </ul>
    
            <h2>Proficiencies</h2>
            <ul>
            {% for value1 in proficiencies %}
                <li>{{ value1.name }}</li>
            {%endfor%}
            </ul>
    
            <h2>Languages</h2>
            <ul>
            {% for value2 in languages %}
                <li>{{ value2.name }}</li>
            {%endfor%}
            </ul>-->
    
            <h2 class="label-description">Skills</h2>
            <ul>
            {% for value3 in skills %}
                <li class="description-value">{{ value3.name }}</li>
            {%endfor%}
            </ul>
    
            <h2 class="label-description">Stats</h2>
            <p class="description-value">Proficience Bonus: {{ prof_bonus }}</p>
    
            <!--<h3>Features</h3>
            <ul>
                {% for value5 in stats.features %}
                    <li>{{ value5.name }}</li>
                {% endfor %}
            </ul>
    
            <h2>Equipments</h2>
            <ul>
                {% for value5 in equipment %}
                    <li>{{ value5.equipment.name }}, quantity: {{ value5.quantity }}</li>
                {% endfor %}
            </ul>-->
        </div>
        <div class='col-4' id=ficha>
            <label class='label-description'>Attributes</label>
            <p></p>
            {% for value0 in ability %}
                <label class='label-description' for="character-attributes-value0">-{{ value0.ability_score.name }}:</label>
                <input class='description-value' id='character-attributes-value0' value='{{ value0.value }} ({{ value0.bonus }})' readonly=true size='5'></input>
                <p></p>
            {%endfor%}
            <p></p>
        </div>
        <div class='col-4' id=ficha>
            <label class='label-description'>Proficiencies:</label>
            <p></p>
            {% for value1 in proficiencies %}
                <input class='description-value' id='character-proficiencies-value1' value='{{ value1.name }}' readonly=true size='{{ value1.name|length }}'></input>
                <p></p>
            {%endfor%}
            <p></p>
            <label class='label-description'>Languages:</label>
            <p></p>
            {% for value2 in languages %}
                <input class='description-value' id='character-languages-value2' value='{{ value2.name }}' readonly=true size='{{ value2.name|length }}'></input>
                <p></p>
            {%endfor%}
            <p></p>
        </div>
    </div>

{% endblock %}